@import url(fonts.css);
.hidden {
    display: none;
}
body {
    margin: 0;
    padding: 0;
    background: hsl(228, 5%, 25%);
    font-family: 'IBM Plex Sans';
    overflow-x: hidden;
    color: white;
    position: relative;
}
header {
    padding: .25rem 1rem;
    background: hsl(228, 5%, 35%);
    box-shadow: 0 2px 2px hsl(228, 5%, 15%);
}
header > div {
    display: flex;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    font: 600 .9rem/1 'IBM Plex Sans'
}
header > div > * {
    margin: 0 .5ch;
}
select, header > div button {
    height: 1.75rem;
    background: hsl(228, 5%, 25%);
    color: white;
    border: 0;
    border-radius: .25rem;
    font: 600 .8rem/1.75rem 'IBM Plex Sans';
    padding: 0 .5rem;
    user-select: none;
}
select:hover,
header > div button:hover,
select:focus-visible,
header > div button:focus-visible {
    color: hsl(212, 100%, 75%);
}
select option {
    color: white;
}
header > div button {
    display: flex;
}
header > div button img {
    display: inline-block;
    height: 1.25rem;
    margin: .25rem .25rem .25rem 0
}
.hide-read img[src*=eye] {
    display: inline-block;
}
.hide-read:hover img[src*=eye],
.hide-read:focus-visible img[src*=eye] {
    display: none;
}
.hide-read img[src*=hide] {
    display: none;
}
.hide-read:hover img[src*=hide],
.hide-read:focus-visible img[src*=hide] {
    display: inline-block;
}
.refresh {
    margin-left: auto;
}
.refresh.spinny img {
    animation: refresh cubic-bezier(0.18, 0.89, 0.32, 1.28) .5s 1;
}
@keyframes refresh {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}
.viewer,.thumbs {
    max-width: 100rem;
    margin: 0 auto;
}
.viewer {
    display: grid;
    grid-template-columns: minmax(6.25rem,15.625rem) minmax(25rem, 78.125rem) minmax(6.25rem,15.625rem);
    grid-template-rows: 1fr;
    padding: 1rem 1rem 0 1rem;
    align-items: center;
    grid-template-areas:
      "prev current next";
}
.viewer .prev {
    grid-area: prev;
}
.viewer .current {
    grid-area: current;
}
.viewer .next {
    grid-area: next
}
.current > div {
    padding: 0 .75rem .75rem .75rem;
    background:hsl(228, 5%, 20%);
    margin: 0 1rem;
    border-radius: 1rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.post {
    font-size: 0;
    position: relative;
}
.post.next .populated,
.post.prev .populated {
    padding: 0 .75rem .75rem .75rem;
    background: hsl(228, 5%, 20%);
    border-radius: .5rem;
}
.post .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0 .25rem 0;
    font-size: .9rem;
    color: white;
}
.post .link a {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    text-decoration: none;
}
.post .link a img {
    height: 1.25rem;
    margin-left: .25rem;
    display: none;
}
.post .link a:hover {
    text-decoration: underline;
}
.post .link a:hover img,
.post .link a:focus-visible img {
    display: inline-block;
}
.post .link a:visited {
    color: white;
}
.post.next .link a,
.post.prev .link a {
    color: white;
    text-decoration: none;
    max-width: 100%;
}
.post .read-marker {
    white-space: nowrap;
    font-size: .8rem;
    text-align: right;
    user-select: none;
}
.post .read-marker button:hover,
.post .read-marker button:focus-visible {
    color: hsl(212, 100%, 75%)
}
.post .read-marker input {
    display: none;
}
.post .read-marker button {
    height: 1.75rem;
    display: flex;
    background: hsl(228, 5%, 15%);
    color: white;
    border: 0;
    border-radius: .25rem;
    font: 600 .8rem/1.75rem 'IBM Plex Sans';
    padding: 0 .5rem;
}
.post .read-marker img {
    display: block;
    height: 1.25rem;
    margin: .25rem .25rem .25rem 0
}
.post .read-marker [src*=eye] {
    display: block;
}
.post .read-marker:hover [src*=eye],
.post .read-marker button:focus-visible [src*=eye] {
    display: none;
}
.post .read-marker.read [src*=eye] {
    display: none;
}
.post .read-marker.read:hover [src*=eye],
.post .read-marker.read button:focus-visible [src*=eye] {
    display: block;
}

.post .read-marker [src*=hide] {
    display: none;
}
.post .read-marker:hover [src*=hide],
.post .read-marker button:focus-visible [src*=hide] {
    display: block;
}
.post .read-marker.read:hover [src*=hide],
.post .read-marker.read button:focus-visible [src*=hide] {
    display: none;
}

.post .read-marker [src*=read] {
    display: none;
}
.post .read-marker.read [src*=read] {
    display: block;
}
.post .read-marker.read:hover [src*=read],
.post .read-marker.read button:focus-visible [src*=read] {
    display: none;
}

.post iframe {
    border: 0;
    border-radius: .25rem;
    box-sizing: border-box;
    width: 100%;
    height: calc((100vw - 36.75rem) * .5625);
    max-height: 36.7rem;
}
.post.current iframe {
    min-height: 17rem;
}
.post .thumbnail {
    position: absolute;
    height: calc(100% - 3rem);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: .25rem;
}
.post.next .thumbnail,
.post.prev .thumbnail {
    width: calc(100% - 1.5rem);
    bottom: .75rem;
    filter: saturate(.5);
    transition: .2s filter;
}
.post.next:hover .thumbnail,
.post.next:focus-within .thumbnail,
.post.prev:hover .thumbnail,
.post.prev:focus-within .thumbnail {
    filter: none;
}
.post.next iframe,
.post.prev iframe {
    height: 8.7890625rem;
    visibility: hidden;
}
@supports(aspect-ratio: 16 / 9) {
    .post.next iframe,
    .post.prev iframe,
    .post.current iframe,
    .post .thumbnail {
        height: unset;
        min-height: unset;
        max-height: unset;
        aspect-ratio: 16 / 9;
    }
}
.post.current .thumbnail {
    width: calc(100% - 3.5rem);
    bottom: .75rem;
    transition: visibility step-end .2s , .2s opacity;
}
.post.current .loaded .thumbnail {
    opacity: 0;
    visibility: hidden;
}

.next-button,
.prev-button {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center 60%;
    font-size: 0;
    border: 0;
    filter: drop-shadow(2px 2px 4px black);
    padding: 0;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: .2s opacity;
}
.next-button:hover,
.prev-button:hover,
.post.next:focus-within .next-button,
.post.prev:focus-within .prev-button {
    opacity: 1;
}

.next-button {
    background-image: url(next.svg);
}
.prev-button {
    background-image: url(prev.svg)
}

.post.current .next-button,
.post.current .prev-button,
.post.next .prev-button,
.post.next .read-marker,
.post.prev .next-button,
.post.prev .read-marker {
    display: none;
}
.thumbs {
    padding: 2rem 1rem 1rem 1rem;
    position: relative;
}
.tooltip {
    opacity: 0;
    font: .8rem/1 'IBM Plex Sans';
    top: .25rem;
    white-space: nowrap;
    overflow: visible;
    padding: .5em .5em 0 .5em;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: white;
    background: hsl(228, 5%, 20%);
    border-bottom: 1rem solid hsl(228, 5%, 20%);
    position: absolute;
    z-index: -1;
}
.thumbstrip:hover .tooltip {
    opacity: 1;
}
.thumbstrip {
    font-size: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background: hsl(228, 5%, 20%);
    box-shadow: 0 0 0 0.5rem hsl(228deg 5% 20%);
    border-radius: .25rem;
}
.thumbstrip .thumbnail,
.thumbstrip .placeholder {
    display: inline-block;
    border: 0;
    font-size: 0;
    margin: 0 .5rem 0 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: .25rem;
    width: 10rem;
    height: 5.625rem;
    transition: filter .2s;
}
.placeholder {
    height: 5.625rem;
}
.thumbstrip.placeholder:hover .tooltip {
    opacity: 0;
}
.thumbnail.read {
    filter: saturate(0)
}
.thumbstrip .thumbnail:hover,
.thumbstrip .thumbnail:focus-visible {
    box-shadow: 0 0 0 .25rem inset hsl(212, 5%, 50%);
    outline: none;
}
.thumbstrip .thumbnail.selected {
    box-shadow: 0 0 0 .25rem inset hsl(212, 100%, 75%)
}

.thumbstrip .thumbnail:last-child {
    margin: 0;
}
::-webkit-scrollbar {
	background-color: hsl(228, 5%, 20%)!important;
	width: 16px!important;
	height: 16px!important;
}
::-webkit-scrollbar-thumb {
	background-color: hsl(228, 5%, 42%)!important;
	border: 4px solid hsl(228, 5%, 20%)!important;
	border-radius: 100px!important;
	min-height: 50px!important;
}
::-webkit-scrollbar-corner {
	background-color: hsl(228, 5%, 20%)!important;
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsl(228, 5%, 52%)!important;
}
::-webkit-scrollbar-thumb:active {
	background-color: hsl(228, 5%, 62%)!important;
	border-width: 3px!important;
}