@import url(fonts.css);
* {
    -webkit-tap-highlight-color: transparent;
}
*:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px hsl(212, 100%, 75%)
}
body {
    margin: 0;
    padding: 0;
    background: hsl(228, 5%, 25%);
    font-family: 'IBM Plex Sans';
    overflow-x: hidden;
    color: white;
    position: relative;
}
header {
    padding: .25rem 1rem;
    background: hsl(228, 5%, 35%);
    box-shadow: 0 2px 2px hsl(228, 5%, 15%);
}
header > div {
    display: flex;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    font: 600 .9rem/1 'IBM Plex Sans'
}
header > div > * {
    margin: 0 .5ch;
}
.hidden {
    display: none;
}
.select {
    position: relative;
}
.select .faux {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    padding-right: .25rem;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
}
.select .faux img {
    margin-left: auto;
}
select~.faux, header > div button {
    box-sizing: border-box;
    height: 1.75rem;
    background: hsl(228, 5%, 25%);
    color: white;
    border: 0;
    border-radius: .25rem;
    font: 600 .8rem/1.75rem 'IBM Plex Sans';
    padding: 0 .5rem;
    user-select: none;
}
select:hover~.faux,
header > div button:hover,
select:focus-visible,
header > div button:focus-visible {
    color: hsl(212, 100%, 75%);
}
select {
    touch-action: manipulation;
    box-sizing: border-box;
    height: calc(1.75rem - 4px);
    margin: 2px;
    background: hsl(228, 5%, 25%);
    color: white;
    border: 0;
    border-radius: calc(.25rem - 2px);
    font: 600 .8rem/1.75rem 'IBM Plex Sans';
    padding: 0 .5rem;
    user-select: none;
}
select:focus-visible {
    box-shadow: 0 0 0 4px hsl(212, 100%, 75%)
}

select option {
    color: white;
}
header > div button {
    touch-action: manipulation;
    display: flex;
}
header > div button img {
    display: inline-block;
    height: 1.25rem;
    margin: .25rem .25rem .25rem 0
}
.hide-read img[src*=eye] {
    display: inline-block;
}
.hide-read:hover img[src*=eye],
.hide-read:focus-visible img[src*=eye] {
    display: none;
}
.hide-read img[src*=hide] {
    display: none;
}
.hide-read:hover img[src*=hide],
.hide-read:focus-visible img[src*=hide] {
    display: inline-block;
}
.jiggly {
    animation: jiggle .1s 4;
}
@keyframes jiggle {
    0% { transform: rotate(0deg) }
    25% { transform: rotate(2deg) }
    50% { transform: rotate(0deg) }
    75% { transform: rotate(-2deg) }
    100% { transform: rotate(0deg) }
}

.refresh {
    margin-left: auto;
}
.refresh.spinny img {
    animation: refresh cubic-bezier(0.18, 0.89, 0.32, 1.28) .5s 1;
}
@keyframes refresh {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

.settings {
    position: relative;
}

.settings > button > img {
    transition: transform .2s;
}

.settings > div.pane {
    background-color: hsl(228, 5%, 15%);
    z-index: 2;
    white-space: nowrap;
    right: 0;
    padding: .25rem .75rem;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
    transition: .2s step-end visibility, .2s opacity, .1s transform, .2s filter;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.5);
    filter: blur(25px);
    border-radius: .5rem;
    will-change: filter;
}
.pane::before {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid hsl(228, 5%, 15%);
    border-right: .5rem solid transparent;
    top: calc(-.5rem + 1px);
    right: 1rem;
}
.settings.open > button > img {
    transform: rotate(60deg);
}
.settings.open > .pane {
    visibility: visible;
    transition: .0s visibility, .2s opacity, .1s transform;
    opacity: 1;
    filter: none;
    transform: translateY(.75em)
}
.settings .click-off {
    display: none;
    touch-action: manipulation;
    z-index: 1;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent
}
.settings.open .click-off {
    display: block;
}
.settings .setting {
    display: flex;
    align-items: center;
    user-select: none;
    margin: .5rem 0;
}
.settings .setting span {
    margin-right: 2em;
}
.settings .setting switch-input {
    touch-action: manipulation;
    height: 1.35em;
    margin-left: auto;
}
#clear-watched button {
    touch-action: manipulation;
    margin-left: auto;
}
.viewer,.thumbs {
    max-width: 100rem;
    margin: 0 auto;
}
.viewer {
    display: grid;
    grid-template-columns: minmax(6.25rem,15.625rem) minmax(25rem, 78.125rem) minmax(6.25rem,15.625rem);
    grid-template-rows: 1fr;
    padding: 1rem 1rem 0 1rem;
    align-items: center;
    grid-template-areas:
      "prev current next";
}
.viewer .prev {
    grid-area: prev;
}
.viewer .current {
    grid-area: current;
}
.viewer .next {
    grid-area: next
}
.current > div {
    padding: 0 .75rem .75rem .75rem;
    background:hsl(228, 5%, 20%);
    margin: 0 1rem;
    border-radius: 1rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.post {
    font-size: 0;
    position: relative;
}
.post.next .populated,
.post.prev .populated {
    padding: 0 .75rem .75rem .75rem;
    background: hsl(228, 5%, 20%);
    border-radius: .5rem;
}
.post .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0 .25rem 0;
    font-size: .9rem;
    color: white;
}
.post .title a,
.post .title > span {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    border-radius: .25rem;
    text-overflow: ellipsis;
    color: white;
    text-decoration: none;
}
.post .title > span {
    height: 1.75rem;
    line-height: 1.75rem;
}
.post .title a img {
    height: 1.25rem;
    margin-left: .25rem;
    display: none;
}
.post .title a:hover {
    text-decoration: underline;
}
.post .title a[target="_blank"]:hover img,
.post .title a[target="_blank"]:focus-visible img {
    user-select: none;
    display: inline-block;
}
.post .title a:visited {
    color: white;
}
.post.next .title a,
.post.prev .title a {
    color: white;
    text-decoration: none;
    max-width: 100%;
}
.placeholder .title {
    height: 1.75rem;
}
.post .read-marker {
    white-space: nowrap;
    font-size: .8rem;
    text-align: right;
    user-select: none;
}
.post .read-marker button:hover,
.post .read-marker button:focus-visible {
    color: hsl(212, 100%, 75%)
}
.post .read-marker input {
    display: none;
}
.post .read-marker button {
    height: 1.75rem;
    display: flex;
    background: hsl(228, 5%, 15%);
    color: white;
    border: 0;
    border-radius: .25rem;
    font: 600 .8rem/1.75rem 'IBM Plex Sans';
    padding: 0 .5rem;
}
.post .read-marker img {
    display: block;
    height: 1.25rem;
    margin: .25rem .25rem .25rem 0
}
.post .read-marker [src*=eye] {
    display: block;
}
.post .read-marker:hover [src*=eye],
.post .read-marker button:focus-visible [src*=eye] {
    display: none;
}
.post .read-marker.read [src*=eye] {
    display: none;
}
.post .read-marker.read:hover [src*=eye],
.post .read-marker.read button:focus-visible [src*=eye] {
    display: block;
}

.post .read-marker [src*=hide] {
    display: none;
}
.post .read-marker:hover [src*=hide],
.post .read-marker button:focus-visible [src*=hide] {
    display: block;
}
.post .read-marker.read:hover [src*=hide],
.post .read-marker.read button:focus-visible [src*=hide] {
    display: none;
}

.post .read-marker [src*=read] {
    display: none;
}
.post .read-marker.read [src*=read] {
    display: block;
}
.post .read-marker.read:hover [src*=read],
.post .read-marker.read button:focus-visible [src*=read] {
    display: none;
}

.post iframe {
    border: 0;
    border-radius: .25rem;
    box-sizing: border-box;
    width: 100%;
    height: calc((100vw - 36.75rem) * .5625);
    max-height: 36.7rem;
}
.post.current iframe {
    min-height: 17rem;
}
.post .thumbnail {
    position: absolute;
    height: calc(100% - 3rem);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: .25rem;
}
.post.next .thumbnail,
.post.prev .thumbnail {
    width: calc(100% - 1.5rem);
    bottom: .75rem;
    filter: saturate(.5);
    transition: .2s filter;
}
.post.next:hover .thumbnail,
.post.next:focus-within .thumbnail,
.post.prev:hover .thumbnail,
.post.prev:focus-within .thumbnail {
    filter: none;
}
.post.next iframe,
.post.prev iframe {
    height: 8.7890625rem;
    visibility: hidden;
}
@supports(aspect-ratio: 16 / 9) {
    .post.next iframe,
    .post.prev iframe,
    .post.current iframe,
    .post .thumbnail {
        height: unset;
        min-height: unset;
        max-height: unset;
        aspect-ratio: 16 / 9;
    }
}
.post.current .thumbnail {
    width: calc(100% - 3.5rem);
    bottom: .75rem;
    transition: visibility step-end .2s , .2s opacity;
}
.post.current .loaded .thumbnail {
    opacity: 0;
    visibility: hidden;
}

.next-button,
.prev-button {
    touch-action: manipulation;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center 60%;
    border-radius: .5rem;
    font-size: 0;
    border: 0;
    filter: drop-shadow(2px 2px 4px black);
    padding: 0;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: .2s opacity;
}
.next-button:hover,
.prev-button:hover,
.post.next:focus-within .next-button,
.post.prev:focus-within .prev-button {
    opacity: 1;
}
@media (pointer: coarse) {
    html {
        font-size: 110%
    }
    .next-button,
    .prev-button {
        opacity: 1;
    }
    .post.next .thumbnail,
    .post.prev .thumbnail {
        filter: none;
    }
    .post .title a img {
        display: inline-block;
    }
}

.next-button {
    background-image: url(assets/next.svg);
}
.prev-button {
    background-image: url(assets/prev.svg)
}

.post.current .next-button,
.post.current .prev-button,
.post.next .prev-button,
.post.next .read-marker,
.post.prev .next-button,
.post.prev .read-marker {
    display: none;
}
.thumbs {
    padding: 2rem 1rem 1rem 1rem;
    position: relative;
}
.tooltip {
    opacity: 0;
    font: .8rem/1 'IBM Plex Sans';
    top: .25rem;
    white-space: nowrap;
    overflow: visible;
    padding: .5em .5em 0 .5em;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: white;
    background: hsl(228, 5%, 20%);
    border-bottom: 1rem solid hsl(228, 5%, 20%);
    position: absolute;
    z-index: -1;
}
.thumbstrip:hover .tooltip {
    opacity: 1;
}
.thumbstrip {
    font-size: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background: hsl(228, 5%, 20%);
    box-shadow: 0 0 0 0.5rem hsl(228deg 5% 20%);
    border-radius: .25rem;
}
.thumbstrip .thumbnail,
.thumbstrip .placeholder {
    display: inline-block;
    border: 0;
    touch-action: manipulation;
    font-size: 0;
    margin: 0 .5rem 0 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: .25rem;
    width: 10rem;
    height: 5.625rem;
    transition: filter .2s;
}
.thumbstrip.placeholder {
    height: 5.625rem;
}
.thumbstrip.placeholder:hover .tooltip {
    opacity: 0;
}
.thumbnail.read {
    filter: saturate(0)
}
.thumbstrip .thumbnail:hover,
.thumbstrip .thumbnail:focus-visible {
    box-shadow: 0 0 0 .25rem inset hsl(212, 5%, 50%);
    outline: none;
}
.thumbstrip .thumbnail.selected {
    box-shadow: 0 0 0 .25rem inset hsl(212, 100%, 75%)
}

.thumbstrip .thumbnail:last-child {
    margin: 0;
}
::-webkit-scrollbar {
	background-color: hsl(228, 5%, 20%)!important;
	width: 16px!important;
	height: 16px!important;
}
::-webkit-scrollbar-thumb {
	background-color: hsl(228, 5%, 42%)!important;
	border: 4px solid hsl(228, 5%, 20%)!important;
	border-radius: 100px!important;
	min-height: 50px!important;
}
::-webkit-scrollbar-corner {
	background-color: hsl(228, 5%, 20%)!important;
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsl(228, 5%, 52%)!important;
}
::-webkit-scrollbar-thumb:active {
	background-color: hsl(228, 5%, 62%)!important;
	border-width: 3px!important;
}
